{{>nav}}
<div class="container">
  <a href="/"><h1 class="text-center text-primary">Login</h1></a>
  <form class="my-5" method="post">
    <div class="mb-3">
    <label for="email" class="form-label">User ID</label>
    <input type="text" class="form-control" id="email" name="email" required>
  </div>
    <div class="mb-3">
    <label for="pwd" class="form-label">Password</label>
    <input type="password" class="form-control" id="pwd" name="pwd">
  </div>
  <button type="submit" class="btn btn-primary">Login</button> <br/>
  </form>
  <a href="/reg">create a account</a>
  </div>